.game-container {
  height: 100vh;
  background-color: #4bb8ad;
}

.game-question {
  background-color: white;
  margin: 0 12px;
  padding-top: 16px;
  padding-bottom: 8px;
  border-radius: 8px;
}

.game-chatbox {
  background-color: white;
  border-radius: 16px 0 0 16px;
  height: 100vh;
  padding: 32px 24px;
}

.game-chat {
  height: 85%;
  margin: 0 0px;
}

.game-chat-list {
  height: 100%;
  overflow-y: auto;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  margin-top: 8px;
}

.tag-gray {
  background-color: #92a6a9;
}
.tag-teal {
  background-color: #318F9B;
}

.tag-gold {
  background-color: #f6c961;
  font-weight: bold;
  color: black;
}

.tag-own {
  background-color: white;
  color: black;
}