.p-top-bar {
  padding: 0 32px 12px;
  vertical-align: baseline;
  box-shadow: 0 2px 0 #e2e9eb;
}

.p-slide-bar {
  box-shadow: 2px 0 0 #e2e9eb;
  max-height:544px!important;
}

.p-present-button {
  margin-right: 8px;
}

.p-button-icon {
  margin: "0 8px 4px 0";
}

.p-title {
  font-weight: bold;
  text-align: left;
}

.selected-slide {
  background:#318F9B!important;
  color:white!important;
  border-color: #318F9B!important;
  border-width:2px!important;
  border-radius: 8px!important;
  font-weight: bold!important;
  color:white !important;
  width:100%!important;
  margin-top: 8px!important;
  height:64px;
}

.slide {
  border-color: #4BB7AD!important;
  border-width:2px!important;
  border-radius: 8px!important;
  font-weight: bold!important;
  background:white!important;
  color:black !important;
  width:100%!important;
  margin-top: 8px!important;
  height:64px;
}

.slide-container {
  max-width: inherit!important;
  border-radius: 8px!important;
  background: #e6e9eb;
}

.correct-answer {
    background:#4BB7AD!important;
    color:white;
}