body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #318F9B !important;
}

.btn-primary:hover {
  background-color: #4bb8ad !important;
  border: 1px solid #4bb8ad !important;
}

.general-icon {
  margin-bottom: 4px;
  margin-right: 8px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

li{
  margin: 20px 0;
}

.spinner-background{
  background-color: black;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  border-radius: 10px;
  z-index: 99 !important;
}